bin/
obj/
.vs/
.idea/
artifacts

.devcontainer/pgsql/
docker/jellyfin.PgsqlMigrator
docker/jellyfin.PgsqlMigrator.dll
.sync-warnings.md
.sync-report.md
.sync-empty-migration
.sync-failure-report.md

dev-env/